.container-bg-1 {
  border: 5px solid gray;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.container {
  flex-direction: column;
}

.card {
  flex-wrap: wrap;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 0.5rem;
}

.card-text {
  color: black;
}

.footer {
  position: relative;
}

body {
  background: url(images/stars.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
}
