.container-bg-1 {
  border: 5px solid gray;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

@include media-breakpoint-up(sm) {
  .card {
    display: block;
  }
}

@include media-breakpoint-up(md) {
  .card {
    display: block;
  }
}

@include media-breakpoint-up(lg) {
  .card {
    display: block;
  }
}

@include media-breakpoint-up(xl) {
  .card {
    display: block;
  }
}
.box-1 {
  flex: 2;
}

.box-2 {
  flex: 2;
}
body {
  background: url(images/stars.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
}
